<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ATLNetwork.EDI.ACES.Properties.Settings.ATLinksTempConnectionString"
            connectionString="Data Source=IFRIT\SQLExpress;Initial Catalog=ATLinksTemp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ATLNetwork.EDI.ACES.Properties.Settings.ATLinksTempConnectionString1"
            connectionString="Data Source=192.168.6.41\SQLEXPRESS;Initial Catalog=ATLinksTemp;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ATLNetwork.EDI.ACES.Properties.Settings.ATLinksTempConnectionString2"
            connectionString="Data Source=odyssey\sqlexpress;Initial Catalog=ATLinksTemp;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ATLNetwork.EDI.ACES.Properties.Settings.ATLinksTempConnectionString3"
            connectionString="Data Source=ODYSSEY\SQLEXPRESS;Initial Catalog=ATLinksTemp;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>