package customers

import (
	"fmt"

	"github.com/brady1408/atlinks/internal/handler/components"
	"github.com/brady1408/atlinks/internal/models"
)

templ FormPage(pg components.PageContext, customer *models.Customer, isNew bool, errMsg string) {
	@components.Layout(pg, formTitle(isNew) + " - ATLinks") {
		<div class="page-header">
			<h1>
				if isNew {
					New Customer
				} else {
					Edit Customer: { customer.Name }
				}
			</h1>
			<a href="/global/customers" class="btn">Back to List</a>
		</div>
		if errMsg != "" {
			<div class="alert alert-danger">{ errMsg }</div>
		}
		<form
			method="POST"
			if isNew {
				action="/global/customers"
				hx-post="/global/customers"
			} else {
				action={ templ.SafeURL(fmt.Sprintf("/global/customers/%d/edit", customer.ID)) }
				hx-put={ fmt.Sprintf("/global/customers/%d", customer.ID) }
			}
		>
			@components.CSRFField(pg.CSRFToken)
			<fieldset>
				<legend>General Information</legend>
				<div class="form-row">
					<div class="form-group">
						<label for="number">Customer Number</label>
						<input type="text" id="number" name="number" class="form-control" value={ components.Deref(customer.Number) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="name">Name *</label>
						<input type="text" id="name" name="name" class="form-control" value={ customer.Name } maxlength="30" required/>
					</div>
					<div class="form-group">
						<label for="type">Type</label>
						<select id="type" name="type" class="form-control">
							<option value="">-- Select --</option>
							<option value="Bill" selected?={ components.Deref(customer.Type) == "Bill" }>Bill</option>
							<option value="Load" selected?={ components.Deref(customer.Type) == "Load" }>Load</option>
							<option value="Drop" selected?={ components.Deref(customer.Type) == "Drop" }>Drop</option>
							<option value="Carrier" selected?={ components.Deref(customer.Type) == "Carrier" }>Carrier</option>
						</select>
					</div>
					<div class="form-group">
						<label for="contact">Contact</label>
						<input type="text" id="contact" name="contact" class="form-control" value={ components.Deref(customer.Contact) } maxlength="20"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="zone">Zone</label>
						<input type="text" id="zone" name="zone" class="form-control" value={ components.Deref(customer.Zone) } maxlength="20"/>
					</div>
					<div class="form-group">
						<label for="location_type">Location Type</label>
						<input type="text" id="location_type" name="location_type" class="form-control" value={ components.Deref(customer.LocationType) } maxlength="2"/>
					</div>
					<div class="form-check form-check-aligned">
						<input type="checkbox" id="inactive" name="inactive" checked?={ customer.Inactive }/>
						<label for="inactive">Inactive</label>
					</div>
					<div class="form-check form-check-aligned">
						<input type="checkbox" id="cod" name="cod" checked?={ customer.COD }/>
						<label for="cod">COD</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Address</legend>
				<div class="form-row">
					<div class="form-group col-span-2">
						<label for="address">Address</label>
						<input type="text" id="address" name="address" class="form-control" value={ components.Deref(customer.Address) } maxlength="30"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-span-2">
						<label for="address2">Address 2</label>
						<input type="text" id="address2" name="address2" class="form-control" value={ components.Deref(customer.Address2) } maxlength="30"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="city">City</label>
						<input type="text" id="city" name="city" class="form-control" value={ components.Deref(customer.City) } maxlength="25"/>
					</div>
					<div class="form-group">
						<label for="state">State</label>
						<input type="text" id="state" name="state" class="form-control" value={ components.Deref(customer.State) } maxlength="2" style="text-transform:uppercase"/>
					</div>
					<div class="form-group">
						<label for="zip">Zip</label>
						<input type="text" id="zip" name="zip" class="form-control" value={ components.Deref(customer.Zip) } maxlength="10"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="text" id="phone" name="phone" class="form-control" value={ components.Deref(customer.Phone) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="mobile">Mobile</label>
						<input type="text" id="mobile" name="mobile" class="form-control" value={ components.Deref(customer.Mobile) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="fax">Fax</label>
						<input type="text" id="fax" name="fax" class="form-control" value={ components.Deref(customer.Fax) } maxlength="10"/>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Billing &amp; Pricing</legend>
				<div class="form-row">
					<div class="form-group">
						<label for="credit_limit">Credit Limit</label>
						<input type="text" id="credit_limit" name="credit_limit" class="form-control" value={ components.Deref(customer.CreditLimit) }/>
					</div>
					<div class="form-group">
						<label for="credit_terms">Credit Terms</label>
						<input type="text" id="credit_terms" name="credit_terms" class="form-control" value={ components.Deref(customer.CreditTerms) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="terms">Terms</label>
						<input type="text" id="terms" name="terms" class="form-control" value={ components.Deref(customer.Terms) } maxlength="20"/>
					</div>
					<div class="form-group">
						<label for="tax_code">Tax Code</label>
						<input type="text" id="tax_code" name="tax_code" class="form-control" value={ components.Deref(customer.TaxCode) } maxlength="20"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="fuel_surcharge">Fuel Surcharge</label>
						<input type="text" id="fuel_surcharge" name="fuel_surcharge" class="form-control" value={ components.Deref(customer.FuelSurcharge) }/>
					</div>
					<div class="form-group">
						<label for="fuel_calc_type">Fuel Calc Type</label>
						<input type="text" id="fuel_calc_type" name="fuel_calc_type" class="form-control" value={ components.Deref(customer.FuelCalcType) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="discount">Discount</label>
						<input type="text" id="discount" name="discount" class="form-control" value={ components.Deref(customer.Discount) }/>
					</div>
					<div class="form-group">
						<label for="discount_calc_type">Discount Calc Type</label>
						<input type="text" id="discount_calc_type" name="discount_calc_type" class="form-control" value={ components.Deref(customer.DiscountCalcType) } maxlength="11"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group">
						<label for="splc">SPLC</label>
						<input type="text" id="splc" name="splc" class="form-control" value={ components.Deref(customer.SPLC) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="rate_class">Rate Class</label>
						<input type="text" id="rate_class" name="rate_class" class="form-control" value={ components.Deref(customer.RateClass) } maxlength="10"/>
					</div>
					<div class="form-group">
						<label for="route_code">Route Code</label>
						<input type="text" id="route_code" name="route_code" class="form-control" value={ components.Deref(customer.RouteCode) } maxlength="20"/>
					</div>
					<div class="form-group">
						<label for="revenue_class">Revenue Class</label>
						<input type="text" id="revenue_class" name="revenue_class" class="form-control" value={ components.Deref(customer.RevenueClass) } maxlength="20"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-check">
						<input type="checkbox" id="combine_inv_det_line" name="combine_inv_det_line" checked?={ customer.CombineInvDetLine }/>
						<label for="combine_inv_det_line">Combine Invoice Detail Lines</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Sales</legend>
				<div class="form-row">
					<div class="form-group">
						<label for="sales_rep">Sales Rep</label>
						<input type="text" id="sales_rep" name="sales_rep" class="form-control" value={ components.Deref(customer.SalesRep) } maxlength="30"/>
					</div>
					<div class="form-group">
						<label for="sales_date">Sales Date</label>
						<input type="date" id="sales_date" name="sales_date" class="form-control" value={ components.FormatDate(customer.SalesDate) }/>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Instructions &amp; Comments</legend>
				<div class="form-group">
					<label for="pu_instructions">Pickup Instructions</label>
					<textarea id="pu_instructions" name="pu_instructions" class="form-control">{ components.Deref(customer.PUInstructions) }</textarea>
				</div>
				<div class="form-group">
					<label for="do_instructions">Drop-off Instructions</label>
					<textarea id="do_instructions" name="do_instructions" class="form-control">{ components.Deref(customer.DOInstructions) }</textarea>
				</div>
				<div class="form-group">
					<label for="comments">Comments</label>
					<textarea id="comments" name="comments" class="form-control">{ components.Deref(customer.Comments) }</textarea>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					if isNew {
						Create Customer
					} else {
						Save Changes
					}
				</button>
				<a href="/global/customers" class="btn">Cancel</a>
			</div>
		</form>
	}
}

func formTitle(isNew bool) string {
	if isNew {
		return "New Customer"
	}
	return "Edit Customer"
}
