{{define "employee_form.html"}}
{{template "base" .}}
{{define "title"}}{{if .IsNew}}New Employee{{else}}Edit Employee{{end}} - ATLinks{{end}}
{{define "content"}}
<div class="page-header">
    <h1>{{if .IsNew}}New Employee{{else}}Edit Employee: {{.Employee.Name}}{{end}}</h1>
    <a href="/global/employees" class="btn">Back to List</a>
</div>

{{if .Error}}<div class="alert alert-danger">{{.Error}}</div>{{end}}

<form method="POST"
      {{if .IsNew}}action="/global/employees" hx-post="/global/employees"
      {{else}}action="/global/employees/{{.Employee.ID}}/edit" hx-put="/global/employees/{{.Employee.ID}}"{{end}}>

    <fieldset>
        <legend>Personal Information</legend>
        <div class="form-row">
            <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" id="name" name="name" class="form-control" value="{{.Employee.Name}}" required maxlength="30">
            </div>
            <div class="form-group">
                <label for="emp_id_number">Employee ID</label>
                <input type="text" id="emp_id_number" name="emp_id_number" class="form-control" value="{{deref .Employee.EmpIDNumber}}" maxlength="20">
            </div>
            <div class="form-group">
                <label for="ssn">SSN</label>
                <input type="text" id="ssn" name="ssn" class="form-control" value="{{deref .Employee.SSN}}" maxlength="11">
            </div>
            <div class="form-group">
                <label for="birth_date">Birth Date</label>
                <input type="date" id="birth_date" name="birth_date" class="form-control"
                       {{if .Employee.BirthDate}}value="{{.Employee.BirthDate.Format "2006-01-02"}}"{{end}}>
            </div>
        </div>
        <div class="form-row">
            <div class="form-check" style="padding-top:8px"><input type="checkbox" id="active" name="active" {{checked .Employee.Active}}><label for="active">Active</label></div>
            <div class="form-check" style="padding-top:8px"><input type="checkbox" id="is_driver" name="is_driver" {{checked .Employee.IsDriver}}><label for="is_driver">Driver</label></div>
            <div class="form-check" style="padding-top:8px"><input type="checkbox" id="is_sales" name="is_sales" {{checked .Employee.IsSales}}><label for="is_sales">Sales</label></div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Address</legend>
        <div class="form-row">
            <div class="form-group" style="grid-column:span 2"><label for="address">Address</label><input type="text" id="address" name="address" class="form-control" value="{{deref .Employee.Address}}" maxlength="30"></div>
        </div>
        <div class="form-row">
            <div class="form-group" style="grid-column:span 2"><label for="address2">Address 2</label><input type="text" id="address2" name="address2" class="form-control" value="{{deref .Employee.Address2}}" maxlength="30"></div>
        </div>
        <div class="form-row">
            <div class="form-group"><label for="city">City</label><input type="text" id="city" name="city" class="form-control" value="{{deref .Employee.City}}" maxlength="25"></div>
            <div class="form-group"><label for="state">State</label><input type="text" id="state" name="state" class="form-control" value="{{deref .Employee.State}}" maxlength="2" style="text-transform:uppercase"></div>
            <div class="form-group"><label for="zip">Zip</label><input type="text" id="zip" name="zip" class="form-control" value="{{deref .Employee.Zip}}" maxlength="10"></div>
            <div class="form-group"><label for="phone">Phone</label><input type="text" id="phone" name="phone" class="form-control" value="{{deref .Employee.Phone}}" maxlength="10"></div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Employment</legend>
        <div class="form-row">
            <div class="form-group"><label for="employment_date">Employment Date</label><input type="date" id="employment_date" name="employment_date" class="form-control" {{if .Employee.EmploymentDate}}value="{{.Employee.EmploymentDate.Format "2006-01-02"}}"{{end}}></div>
            <div class="form-group"><label for="termination_date">Termination Date</label><input type="date" id="termination_date" name="termination_date" class="form-control" {{if .Employee.TerminationDate}}value="{{.Employee.TerminationDate.Format "2006-01-02"}}"{{end}}></div>
            <div class="form-group"><label for="rate">Rate</label><input type="text" id="rate" name="rate" class="form-control" value="{{deref .Employee.Rate}}"></div>
            <div class="form-group"><label for="rate_calc_type">Rate Type</label><input type="text" id="rate_calc_type" name="rate_calc_type" class="form-control" value="{{deref .Employee.RateCalcType}}" maxlength="10"></div>
        </div>
        <div class="form-row">
            <div class="form-group"><label for="reserve">Reserve</label><input type="text" id="reserve" name="reserve" class="form-control" value="{{deref .Employee.Reserve}}"></div>
            <div class="form-group"><label for="emergency_contact">Emergency Contact</label><input type="text" id="emergency_contact" name="emergency_contact" class="form-control" value="{{deref .Employee.EmergencyContact}}" maxlength="30"></div>
            <div class="form-group"><label for="emergency_phone">Emergency Phone</label><input type="text" id="emergency_phone" name="emergency_phone" class="form-control" value="{{deref .Employee.EmergencyPhone}}" maxlength="10"></div>
            <div class="form-group"><label for="username">Username</label><input type="text" id="username" name="username" class="form-control" value="{{deref .Employee.Username}}" maxlength="20"></div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Driver Compliance</legend>
        <div class="form-row">
            <div class="form-group"><label for="drivers_license_number">License #</label><input type="text" id="drivers_license_number" name="drivers_license_number" class="form-control" value="{{deref .Employee.DriversLicenseNumber}}" maxlength="20"></div>
            <div class="form-group"><label for="drivers_license_state">License State</label><input type="text" id="drivers_license_state" name="drivers_license_state" class="form-control" value="{{deref .Employee.DriversLicenseState}}" maxlength="2"></div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="state_driving_rec" name="state_driving_rec" {{checked .Employee.StateDrivingRec}}><label for="state_driving_rec">State Driving Record</label></div>
                <label for="state_driving_rec_exp" class="mt-2">Exp</label><input type="date" id="state_driving_rec_exp" name="state_driving_rec_exp" class="form-control" {{if .Employee.StateDrivingRecExp}}value="{{.Employee.StateDrivingRecExp.Format "2006-01-02"}}"{{end}}>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="driving_rec_review" name="driving_rec_review" {{checked .Employee.DrivingRecReview}}><label for="driving_rec_review">Driving Record Review</label></div>
                <label for="driving_rec_review_exp" class="mt-2">Exp</label><input type="date" id="driving_rec_review_exp" name="driving_rec_review_exp" class="form-control" {{if .Employee.DrivingRecReviewExp}}value="{{.Employee.DrivingRecReviewExp.Format "2006-01-02"}}"{{end}}>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="copy_of_cdl" name="copy_of_cdl" {{checked .Employee.CopyOfCDL}}><label for="copy_of_cdl">Copy of CDL</label></div>
                <label for="cdl_exp" class="mt-2">Exp</label><input type="date" id="cdl_exp" name="cdl_exp" class="form-control" {{if .Employee.CDLExp}}value="{{.Employee.CDLExp.Format "2006-01-02"}}"{{end}}>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="copy_of_med_cert" name="copy_of_med_cert" {{checked .Employee.CopyOfMedCert}}><label for="copy_of_med_cert">Medical Certificate</label></div>
                <label for="med_cert_exp" class="mt-2">Exp</label><input type="date" id="med_cert_exp" name="med_cert_exp" class="form-control" {{if .Employee.MedCertExp}}value="{{.Employee.MedCertExp.Format "2006-01-02"}}"{{end}}>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="dot_application" name="dot_application" {{checked .Employee.DOTApplication}}><label for="dot_application">DOT Application</label></div>
                <label for="dot_application_exp" class="mt-2">Exp</label><input type="date" id="dot_application_exp" name="dot_application_exp" class="form-control" {{if .Employee.DOTApplicationExp}}value="{{.Employee.DOTApplicationExp.Format "2006-01-02"}}"{{end}}>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="prior_emp_chk" name="prior_emp_chk" {{checked .Employee.PriorEmpChk}}><label for="prior_emp_chk">Prior Emp Check</label></div>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="last_service_hrs" name="last_service_hrs" {{checked .Employee.LastServiceHrs}}><label for="last_service_hrs">Last Service Hrs</label></div>
            </div>
            <div class="form-group">
                <div class="form-check"><input type="checkbox" id="pre_emp_drug_test" name="pre_emp_drug_test" {{checked .Employee.PreEmpDrugTest}}><label for="pre_emp_drug_test">Pre-Emp Drug Test</label></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group"><div class="form-check"><input type="checkbox" id="prev_emp_inquiries" name="prev_emp_inquiries" {{checked .Employee.PrevEmpInquiries}}><label for="prev_emp_inquiries">Prev Emp Inquiries</label></div></div>
            <div class="form-group"><div class="form-check"><input type="checkbox" id="receipt_drug_policy" name="receipt_drug_policy" {{checked .Employee.ReceiptDrugPolicy}}><label for="receipt_drug_policy">Drug Policy Receipt</label></div></div>
            <div class="form-group"><div class="form-check"><input type="checkbox" id="w4_emp_withholding" name="w4_emp_withholding" {{checked .Employee.W4EmpWithholding}}><label for="w4_emp_withholding">W-4 Withholding</label></div></div>
            <div class="form-group"><div class="form-check"><input type="checkbox" id="us_legal_info" name="us_legal_info" {{checked .Employee.USLegalInfo}}><label for="us_legal_info">US Legal Info</label></div></div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{if .IsNew}}Create Employee{{else}}Save Changes{{end}}</button>
        <a href="/global/employees" class="btn">Cancel</a>
    </div>
</form>
{{end}}
{{end}}
